.wrapper {
  background-color: var(--neutral-900);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--neutral-300);
  width: 100%;
  border-bottom: 0;
}

.column {
  padding: 1rem;

  &.logo {
    width: 50px;
    height: 40px;
  }

  a {
    display: block;
  }
}

.subcolumn {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.socialMedia {
  display: flex;
}

.otherLinks {
  display: flex;

  >p {
    font-size: 12px;
  }
}
