@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* COLORS */
  --neutral-300: #DDE1E6;
  --neutral-600: #565E6C;
  --neutral-900: #161A1E;
  --primary-color-500: #05A89B;

  /* SIZE */
  --nav-height: 100px;

  /* SIZE */
  --footer-height: 200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Roboto', 'Lato', sans-serif;
}

h1>span {
  color: var(--primary-color-500);
}
